body {
	font-family: Courier;
	text-align: center;
}

#header, #content, #footer {
	padding: 30px;
}

.text_inputs {
	width: 500px;
	height: 30px;
	margin: 10px;
	padding: 5px;
}

#answerholder {
	display: none;
	margin: 10px auto;
}

#restart {
	padding: 20px 30px;
}

#restart:hover {
	cursor: pointer;
}

.top_ad {
	width: 728px;
	height: 90px;
	margin: auto;
}

.nav_bar {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#nav_bar {
	margin: 20px auto;
}

.nav_bar li {
	display: inline-block;
}

.nav_bar li:hover {
}

.nav_bar li a {
	text-decoration: none;
	border: 1px solid black;
	padding: 10px;
	color: black;
	background: #E6E6E6;
}

.nav_bar li a:hover {
	color: white;
	background: black;
}

#trick_info {
	width: 700px;
	padding: 10px;
	margin: auto;
	display: none;
	background: #FFFFCC;
}

#trick_info ol li {
	text-align: justify;
}